<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body ng-app="whenwegetmoney">
    @Html.Partial("_nav")
    <div class="container body-content">
        <div class="row">
        </div>
        <div class="row">
            
            <div id="main" class="container-fluid col-lg-9 mainlist mainStyle">
                <h1> When We Get Money</h1>
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
