<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body ng-app="whenwegetmoney">
    @Html.Partial("_nav")
    <div class="container body-content">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-3 visible-lg">
                <div class="suggestions mainStyle">
                    <h3>Suggestions</h3>
                </div>
            </div>
            <div id="main" class="container-fluid col-lg-6 mainlist mainStyle">
                <h1> When We Get Money</h1>
                @*<div class="col-xs-12">
                    <input type="text" placeholder="search" />
                </div>*@
                <div>
                    @RenderBody()
                </div>
            </div>
            <div class="col-lg-3 visible-lg ">
                <div class="moneyPot mainStyle">
                    <h3>Available $</h3>
                    <div>@Html.Partial("_Dollar")</div>
                </div>
                <div class="boughtIt mainStyle">
                    <h3> Bought It List</h3>
                </div>
             </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>
