<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

</head>
<body>
    @Html.Partial("_nav")
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12 green">
                <input type="text" placeholder="search" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 visible-lg  red">
                <img style="width:100%;height:100%" src="http://placehold.it/250x350" />
            </div>
            <div class="col-lg-6 mainlist">
                @RenderBody()
            </div>
            <div class="col-lg-3 visible-lg right red">
                <img style="width:100%;height:100%" src="http://placehold.it/250x350" />
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
